html * {
	font-family: "Space Mono", monospace;
}
li {
	list-style-type: none;
}
.nameTitle {
	overflow: hidden;
	white-space: nowrap;
	margin: 0 auto;
	position: relative;
	padding-left: 30;
	padding-right: 30;
	width: 0;
	animation: typing 2s steps(5) forwards, fade-in 1s;
}

@keyframes typing {
	0% {
		width: 0;
	}
	100% {
		width: 102%;
	}
}

.nameTitle::after {
	content: "";
	position: absolute;
	top: 10%;
	right: 0;
	height: 70%;
	width: 4px;
	right: 0;
	background-color: orange;
	animation: cursor 0.53s step-end infinite alternate;
}

@keyframes cursor {
	50% {
		opacity: 0;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.nameTitleBox {
	animation: fade-in 4s;
}

.homepageProjectReel {
	opacity: 0;
	animation: fade-in 1s forwards;
	animation-delay: 2.5s;
}

.nightowl {
	opacity: 0;
	animation: fade-in 1s forwards;
	animation-delay: 2.5s;
}
