@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html *{
    font-family: "Space Mono", monospace;
}

.nameTitle {
    font-size: 12vw;
    letter-spacing: 0.1rem;
    font-weight: 700;
}